{% load static %}
<!DOCTYPE html>

<!--
	Author:     Subux
	URL:        https://crimson.net/
-->

<html lang="en">
	<head>

		<!-- Title -->
		<title>Amazing Frontend | Crimson </title>

		<!-- Meta -->
		<meta charset="utf-8">
		<meta name="description" content="Download Creative Frontend Templates.">
		<meta name="author" content="subux.uz">

		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Google fonts (https://www.google.com/fonts) -->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet"> <!-- Body font -->
		<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet"> <!-- Secondary/Alter font -->

		<!-- Libs and Plugins CSS -->
		<link rel="stylesheet" href="{% static 'vendor/normalize/normalize.min.css' %}"> <!-- Normalize CSS (https://necolas.github.io/normalize.css/) -->
		<link rel="stylesheet" href="{% static 'vendor/fontawesome/css/fontawesome-all.min.css' %}"> <!-- Font Icons CSS (https://fontawesome.com) Free version! -->
		<link rel="stylesheet" href="{% static 'vendor/swiper/css/swiper-bundle.min.css' %}"> <!-- Swiper CSS (https://swiperjs.com/) -->
		<link rel="stylesheet" href="{% static 'vendor/lightgallery/css/lightgallery.min.css' %}"> <!-- lightGallery CSS (http://sachinchoolur.github.io/lightGallery) -->

		<!-- Template master CSS -->
		<link rel="stylesheet" href="{% static 'css/helper.css' %}">
		<link rel="stylesheet" href="{% static 'css/shop.css' %}"> <!-- Note: Used on shop-related pages only! -->
		<link rel="stylesheet" href="{% static 'css/theme.css' %}">

	</head>

	
	<!-- ===========
	///// Body /////
	================
	* Use class "tt-boxed" to enable page boxed layout globally (affects all elements containing class "tt-wrap").
	* Use class "tt-smooth-scroll" to enable page smooth scrolling.
	* Use class "tt-transition" to enable page transitions.
	* Use class "tt-magic-cursor" to enable magic cursor.
	-->
	<body id="body" class="tt-transition tt-boxed tt-smooth-scroll tt-magic-cursor">


		<!-- *************************************
		*********** Begin body inner ************* 
		************************************** -->
		<main id="body-inner">

			<!-- Begin page transition (do not remove!!!) 
			=========================== -->
			<div id="page-transition">
				<div class="ptr-overlay"></div>
				<div class="ptr-preloader">
					<div class="ptr-prel-content">
						<!-- Hint: You may need to change the img height and opacity to match your logo type. You can do this from the "theme.css" file (find: ".ptr-prel-image"). -->
						<img src="{% static 'img/logo-l.png' %}" class="ptr-prel-image tt-logo-light" alt="C">
					</div> <!-- /.ptr-prel-content -->
				</div> <!-- /.ptr-preloader -->
			</div>
			<!-- End page transition -->

			<!-- Begin noise background -->
			<div class="bg-noise"></div>
			<!-- End noise background --> 


			<!-- *****************************************
			*********** Begin scroll container *********** 
			****************************************** -->
			<div id="scroll-container"> 
				
				<!-- ===================
				///// Begin header /////
				========================
				* Use class "tt-header-fixed" to set header to fixed position.
				-->
				<header id="tt-header" class="tt-header-fixed">
					<div class="tt-header-inner"> <!-- add/remove class "tt-wrap" to enable/disable element boxed layout (class "tt-boxed" is required in <body> tag!). Note: additionally you can use prepared helper class "max-width-*" to add custom width to "tt-wrap". Example: "max-width-1500" (class "tt-wrap" is still required!). More info about helper classes can be found in the file "helper.css". -->

						<div class="tt-header-col">

							<!-- Begin logo 
							================ -->
							<div class="tt-logo"> 
								<a href="/">
									<!-- Hint: You may need to change the img height to match your logo type. You can do this from the "theme.css" file (find: ".tt-logo img"). -->
									<img src="{% static 'img/logo.png' %}" class="tt-logo-light magnetic-item" style="width: 150px;" alt="Crimson"> <!-- logo light -->
									<img src="{% static 'img/logo.png' %}" class="tt-logo-dark magnetic-item" style="width: 150px;" alt="Crimson"> <!-- logo dark -->
								</a>
							</div>
							<!-- End logo -->

						</div> <!-- /.tt-header-col -->

						<div class="tt-header-col">
							<!-- Begin header tools (use shop-related elements on shop-related pages only!)
							======================== -->
							<div class="tt-header-tools">

								<!-- Begin header tools dynamic 
								* Note: This container moves to page bottom on smaller screens to save space in the header. Useful if you have more elements to show. 
								================================ -->
								<div class="tt-header-tools-dynamic">

									<!-- Begin header tools item (To shop list. Visible on small screens only!) -->
									<div class="tt-header-tools-item to-shop-list-btn-wrap hide">
										<div class="to-shop-list-btn">
											<a href="/" class="tt-hti-btn to-shop-list-btn-icon magnetic-item" title="Shop">
												<i class="fas fa-home"></i>
											</a>
										</div> <!-- /.to-shop-list-btn -->
									</div> 
									<!-- End header tools item -->

									<!-- Begin header tools item (tt-Search) -->
									<div class="tt-header-tools-item tt-search-trigger-wrap">

										<div class="tt-search-trigger">
											<div class="tt-hti-btn tt-search-trigger-icon magnetic-item" title="Search">
												<i class="fas fa-search"></i>
											</div>
										</div> <!-- /.tt-search-trigger -->

										<!-- Begin tt-Search 
										===================== -->
										<div class="tt-search">
											<div class="tt-search-close cursor-close">
												<div class="bg-noise"></div>
											</div>
											<div class="tt-search-inner">
												<h1 class="tt-search-title tt-search-appear">Search</h1>

												<!-- Begin form (Note: for design purposes only!)
												================ 
												* Use class "tt-form-filled" or "tt-form-minimal" to change form style.
												* Use class "tt-form-sm" or "tt-form-lg" to change form size (no class = default size).
												-->
												<form class="tt-search-form tt-search-appear tt-form-minimal tt-form-lg">
													<div class="tt-form-btn-inside">
														<input class="tt-form-control" type="text" id="search" placeholder="Type your keywords..." required>
														<button type="submit"><i class="fas fa-search"></i></button>
													</div>
												</form>
												 <!-- End form -->
												
											</div> <!-- /.tt-search-inner -->

											<div class="tt-search-ghost tt-search-appear">Search</div>
											<div class="tt-search-close-btn hide-cursor" title="Close"><i class="fas fa-times"></i></div>
										</div>
										<!-- End tt-Search -->

									</div> 
									<!-- End header tools item -->

									

								</div>
								<!-- End header tools dynamic -->

								<!-- Begin header tools item (Sliding cart) -->
								<div class="tt-header-tools-item tt-sliding-cart-trigger-wrap">

									<!-- Begin shop sliding cart 
									============================= -->
									<div class="tt-sliding-cart-wrap">
										<div class="tt-sliding-cart">
											<div class="tt-sliding-cart-inner">
												<h4 class="tt-sliding-cart-heading">Shopping Cart</h4>
												<div class="tt-sliding-cart-content tt-custom-scrollbar">

													<!-- Begin shop sliding cart empty (use it if no products are on the shopping cart) 
													=================================== -->
													<!-- <div class="tt-sliding-cart-empty">
														<div class="tt-sliding-cart-empty-icon"><i class="fas fa-shopping-cart"></i></div>
														<div class="tt-sliding-cart-empty-text">No products added to the shopping cart.</div>
													</div> -->
													<!-- End shop sliding cart empty -->


													<!-- Begin shop sliding cart product-list
													========================================== -->
													<ul class="tt-sliding-cart-product-list">
														<li>
															<div class="tt-sliding-cart-product">
																<a href="/" class="tt-sc-product-thumb">
																	<img src="{% static 'img/shop/small/product-2.jpg' %}" alt="image">
																</a> <!-- /.tt-sc-product-thumb -->
																<div class="tt-sc-product-info">
																	<a href="shop-single.html" class="tt-sc-product-title">Barbershop - Branding Mockups</a>
																	<div class="tt-sc-product-variations">
																		<div class="tt-scp-variation">License: <span>Regular</span></div>
																	</div> <!-- /.tt-sc-product-variations -->
																	<div class="tt-sc-product-quantity-pricing">
																		<span class="tt-sc-product-quantity">1 x </span>
																		<span class="tt-sc-product-price">
																			<bdi>$21.00</bdi>
																		</span>
																	</div> <!-- /.tt-sc-product-quantity-pricing -->
																	<a href="#" class="tt-sc-product-remove" title="Remove"><i class="fas fa-times"></i></a>
																</div> <!-- /.tt-sc-product-info -->
															</div> <!-- /.tt-sliding-cart-product -->
														</li>

														<li>
															<div class="tt-sliding-cart-product">
																<a href="#" class="tt-sc-product-thumb">
																	<img src="{% static 'img/shop/small/product-1.jpg' %}" alt="image">
																</a> <!-- /.tt-sc-product-thumb -->
																<div class="tt-sc-product-info">
																	<a href="shop-single.html" class="tt-sc-product-title">Dash - Branding Mockup Templates</a>
																	<div class="tt-sc-product-variations">
																		<div class="tt-scp-variation">License: <span>Regular</span></div>
																	</div> <!-- /.tt-sc-product-variations -->
																	<div class="tt-sc-product-quantity-pricing">
																		<span class="tt-sc-product-quantity">1 x </span>
																		<span class="tt-sc-product-price">
																			<bdi>$21.00</bdi>
																		</span>
																	</div> <!-- /.tt-sc-product-quantity-pricing -->
																	<a href="#" class="tt-sc-product-remove" title="Remove"><i class="fas fa-times"></i></a>
																</div> <!-- /.tt-sc-product-info -->
															</div> <!-- /.tt-sliding-cart-product -->
														</li>
													</ul> 
													<!-- End shop sliding cart product-list -->

												</div> <!-- /.tt-sliding-cart-content -->

												<div class="tt-sliding-cart-footer">
													<div class="tt-sliding-cart-total">
														Subtotal: <bdi>$42.00</bdi>
													</div> <!-- /.tt-sliding-cart-total -->
													<div class="tt-btn tt-btn-light-outline tt-btn-block">
														<a href="shop-cart.html" data-hover="View Cart">View Cart</a>
													</div>
													<div class="tt-btn tt-btn-primary tt-btn-block">
														<a href="shop-checkout.html" data-hover="Checkout">Checkout</a>
													</div>
												</div> <!-- /.tt-sliding-cart-footer -->
											</div> <!-- /.tt-sliding-cart-inner -->

											<div class="tt-sliding-cart-close hide-cursor" title="Close"><i class="fas fa-times"></i></div>
										</div> <!-- /.tt-sliding-cart -->

										<div class="tt-sliding-cart-cover cursor-close"></div>
									</div>
									<!-- End shop sliding cart -->

								</div>
								<!-- End header tools item -->

							</div>
							<!-- End header tools -->

						</div> <!-- /.header-col -->
					</div> <!-- /.header-inner -->
				</header>
				<!-- End header -->

				
				<!-- *************************************
				*********** Begin content wrap *********** 
				************************************** -->
				<div id="content-wrap">

					
					<!-- ========================
					///// Begin page header /////
					============================= 
					* Use class "ph-full" to enable fullscreen size.
					* Use class "ph-cap-sm", "ph-cap-lg", "ph-cap-xlg" or "ph-cap-xxlg" to set caption size (no class = default size).
					* Use class "ph-center" to enable content center position.
					* Use class "ph-bg-image" to enable page header background image (required for a portfolio single project!).
					* Use class "ph-bg-image-is-light" if needed, it makes the elements dark and more visible if you use a very light image (effect only with class "ph-bg-image").
					* Use class "ph-image-shadow" to enable page header background image (effect only with class "ph-bg-image").
					* Use class "ph-image-cropped" to crop image. It fixes image dimensions (no effect for "ph-bg-image"!).
					* Use class "ph-image-cover-*" to set image overlay opacity. For example "ph-image-cover-2" or "ph-image-cover-2-5" (up to "ph-image-cover-9-5").
					* Use class "ph-content-parallax" to enable content parallax.
					* Use class "ph-stroke" to enable caption title stroke style.
					-->
					<div id="page-header" class="ph-cap-lg ph-center ph-image-cropped ph-image-cover-4 ph-content-parallax">
						<div class="page-header-inner tt-wrap">

							<!-- Begin page header caption
							=============================== 
							Use class "max-width-*" to set caption max width if needed. For example "max-width-1000". More info about helper classes can be found in the file "helper.css".
							-->
							<div class="ph-caption">
								<h1 class="ph-caption-title ph-appear">All Projects</h1>
								<div class="ph-caption-title-ghost ph-appear">SUBUX</div>
								<div class="ph-caption-subtitle ph-appear">Web Design</div>
							</div> 
							<!-- End page header caption -->

						</div> <!-- /.page-header-inner -->

						<!-- Begin scroll down circle (you can change "data-offset" to set scroll top offset) 
						============================== -->
						<a href="#page-content" class="scroll-down-circle" data-offset="30">
							<div class="sdc-inner ph-appear">
								<div class="sdc-icon"><i class="fas fa-chevron-down"></i></div>
								<svg viewBox="0 0 500 500">
									<defs>
										<path d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250" id="textcircle"></path>
									</defs>
									<text dy="30">
										<textPath xlink:href="#textcircle">Scroll down - Scroll down -</textPath>
									</text>
								</svg>
							</div> <!-- /.sdc-inner -->
						</a>
						<!-- End scroll down circle -->

						<!-- Begin made with love 
						========================== -->
						<div class="made-with-love ph-appear">
							<div class="mwl-inner">
								<div class="mwl-text">Made with</div>
								<div class="mwl-icon"><i class="far fa-heart"></i></div>
							</div>
						</div>
						<!-- End made with love -->
						
					</div>
					<!-- End page header -->


					<!-- *************************************
					*********** Begin page content *********** 
					************************************** -->
					<div id="page-content">


						<!-- =======================
						///// Begin tt-section /////
						============================ 
						* You can use padding classes if needed. For example "padding-top-xlg-150", "padding-bottom-xlg-150", "no-padding-top", "no-padding-bottom", etc. Note that each situation may be different and each section may need different classes according to your needs. More info about helper classes can be found in the file "helper.css".
						-->
						<div class="tt-section">
							<div class="tt-section-inner tt-wrap">
								
								<!-- Begin blog list
								===================== 
								* Use class "bli-image-cropped" to grop blog list item images (set fixed height).
								* Use class "bli-compact" to enable compact blog list style. Note: If "tt-sidebar" is used, then add more width to "tt-section-inner", for example "max-width-1600".
								-->
								{% for post in posts %}
								<div id="blog-list" class="bli-image-cropped bli-compact">

									<!-- Begin blog list item 
									========================== -->
									<article class="blog-list-item">
								
										<!-- Begin blog list item image -->
										<a href="details/{{ post.slug }}" class="bli-image-wrap" data-cursor="Read<br>More">
											<figure class="bli-image">
												<img src="{{ post.img }}" data-src="{{ post.img }}" class="tt-lazy anim-zoomin" alt="Image">
											</figure>
										</a>
										<!-- End blog list item image -->
										
										<!-- Begin blog list item info -->
										<div class="bli-info"><style>.bli-info:before { content: "CSS";}</style>
											<div class="bli-categories">
												<a href="blog-archive.html"> {{ post.category }} </a>
												<!-- <a href="blog-archive.html">Uncategorized</a> -->
											</div>
											<h2 class="bli-title"><a href="details/{{ post.slug }}"> {{ post.name }} </a></h2>
											<div class="bli-meta">
												<span class="published"> {{ post.date1 }} </span>
												<span class="posted-by">- by <a href="about-p.html" title="View all posts by John Doe"> {{ post.username }} </a></span>
											</div>
											<div class="bli-read-more tt-btn tt-btn-link">
												<a href="details/{{ post.slug }}" data-hover="Read More">Read More</a>
											</div>
										</div>
										<!-- End blog list item info -->

									</article>
									<!-- End blog list item -->

								</div>
								{% endfor %}
								<!-- End blog list -->


								<!-- Begin sliding sidebar 
								=========================== 
								* Use class "tt-ss-right" to align sidebar to right.
								-->
								<div class="tt-sliding-sidebar-wrap">
									<div class="tt-sliding-sidebar">
										<div class="tt-sliding-sidebar-inner">

											<!-- Begin sidebar widget -->
											<div class="sidebar-widget sidebar-search">
												<h3 class="sidebar-heading">Search</h3>
												
												<!-- Begin form (Note: for design purposes only!)
												================ 
												* Use class "tt-form-filled" or "tt-form-minimal" to change form style.
												* Use class "tt-form-sm" or "tt-form-lg" to change form size (no class = default size).
												-->
												<form>
													<div class="tt-form-btn-inside">
														<input class="tt-form-control" type="text" id="search" placeholder="Type something & hit enter" required>
														<button type="submit"><i class="fas fa-search"></i></button>
													</div>
												</form>
												<!-- End form -->

											</div> 
											<!-- End sidebar widget -->

											<!-- Begin sidebar widget -->
											<div class="sidebar-widget sidebar-categories">
												<h3 class="sidebar-heading">CSS</h3>
												<ul class="list-unstyled">
													<li><a href="blog-archive.html">Navbar <span title="Entries in this category">26</span></a></li>
													<li><a href="blog-archive.html">Sidebar <span title="Entries in this category">12</span></a></li>
													<li><a href="blog-archive.html">Login <span title="Entries in this category">19</span></a></li>
													<li><a href="blog-archive.html">Codes <span title="Entries in this category">31</span></a></li>
													<li><a href="blog-archive.html">Animations <span title="Entries in this category">67</span></a></li>
													<li><a href="blog-archive.html">Responsive <span title="Entries in this category">31</span></a></li>
												</ul>
												<br>
												<h3 class="sidebar-heading">JavaScript</h3>
												<ul class="list-unstyled">
													<li><a href="blog-archive.html">Web Design <span title="Entries in this category">26</span></a></li>
													<li><a href="blog-archive.html">Resources <span title="Entries in this category">12</span></a></li>
													<li><a href="blog-archive.html">Tutorials <span title="Entries in this category">19</span></a></li>
													<li><a href="blog-archive.html">Freebies <span title="Entries in this category">31</span></a></li>
													<li><a href="blog-archive.html">Inspiration <span title="Entries in this category">67</span></a></li>
													<li><a href="blog-archive.html">Freebies <span title="Entries in this category">31</span></a></li>
												</ul>
											</div>
											<!-- End sidebar widget -->

										</div> <!-- /.tt-sliding-sidebar-inner -->
									</div> <!-- /.tt-sliding-sidebar -->

									<!-- Begin sliding sidebar trigger -->
									<div class="tt-sliding-sidebar-trigger">
										<span class="tt-ss-icon"><i class="fas fa-align-justify"></i></span>
										<span class="tt-ss-icon-close"><i class="fas fa-times"></i></span>
									</div>
									<!-- End sliding sidebar trigger -->

									<!-- Close overlay -->
									<div class="tt-sliding-sidebar-close cursor-close"></div>

								</div> 
								<!-- End sliding sidebar -->
								

								<!-- Begin tt-pagination 
								========================= 
								* Use class "tt-pagin-center" to align center.
								-->
								<div class="tt-pagination tt-pagin-center anim-fadeinup">
									<div class="tt-pagin-prev">
										<a href="" class="tt-pagin-item magnetic-item"><i class="fas fa-chevron-left"></i></a>
									</div>
									<div class="tt-pagin-numbers">
										<a href="#0" class="tt-pagin-item magnetic-item active">1</a>
										<a href="" class="tt-pagin-item magnetic-item">2</a>
										<a href="" class="tt-pagin-item magnetic-item">3</a>
										<a href="" class="tt-pagin-item magnetic-item">4</a>
										<a href="" class="tt-pagin-item magnetic-item">5</a>
									</div>
									<div class="tt-pagin-next">
										<a href="" class="tt-pagin-item tt-pagin-next magnetic-item"><i class="fas fa-chevron-right"></i></a>
									</div>
								</div>
								<!-- End tt-pagination -->

							</div> <!-- /.tt-section-inner -->
						</div>
						<!-- End tt-section -->


						<!-- =======================
						///// Begin tt-section /////
						============================ 
						* You can use padding classes if needed. For example "padding-top-xlg-150", "padding-bottom-xlg-150", "no-padding-top", "no-padding-bottom", etc. Note that each situation may be different and each section may need different classes according to your needs. More info about helper classes can be found in the file "helper.css".
						-->
						<div class="tt-section padding-bottom-xlg-150">
							<div class="tt-section-inner tt-wrap">

								<!-- Begin page nav 
								==================== 
								* Use class "tt-pn-stroke" to enable title stroke style.
								* Use class "tt-pn-scroll" to enable hover title scroll. Note: If "tt-pn-hover-title" text is wider than "tt-pn-link" then it scrolls by default. The longer the text, the faster it scrolls.
								-->
								<div class="tt-page-nav tt-pn-scroll">
									<a href="about.html" class="tt-pn-link anim-fadeinup">
										<div class="tt-pn-title">About</div>
										<div class="tt-pn-hover-title">About us</div>
									</a> <!-- /.tt-pn-link -->

									<div class="tt-pn-subtitle anim-fadeinup">Selected Works</div>

									<!-- Use if destination page contains page header image -->
									<div class="tt-pn-image">
										<img src="{% static 'img/page-header/ph-1.jpg' %}" alt="image">
									</div>
								</div>
								<!-- End page nav -->

							</div> <!-- /.tt-section-inner -->
						</div>
						<!-- End tt-section -->


					</div>
					<!-- End page content -->
					

					<!-- ======================
					///// Begin tt-footer /////
					=========================== -->
					<footer id="tt-footer">
						<div class="tt-footer-inner">

							<!-- Begin footer column 
							========================= -->
							<div class="footer-col tt-align-center-left">
								<div class="footer-col-inner">

									<!-- You can use whatever button or link here -->
									<div class="tt-btn tt-btn-link">
										<a href="#" class="scroll-to-top" data-hover="Back to top">Back to top</a>
									</div>

								</div> <!-- /.footer-col-inner -->
							</div>
							<!-- Begin footer column -->

							<!-- Begin footer column 
							========================= -->
							<div class="footer-col tt-align-center order-m-last">
								<div class="footer-col-inner">

									<div class="tt-copyright">
										© Copyright - <a href="https://subux.uz" target="_blank" rel="noopener" class="tt-link">SUBUX</a>
									</div>

								</div> <!-- /.footer-col-inner -->
							</div>
							<!-- Begin footer column -->

							<!-- Begin footer column 
							========================= -->
							<div class="footer-col tt-align-center-right">
								<div class="footer-col-inner">

									<div class="footer-social">
										<div class="footer-social-text"><span>Follow</span><i class="fas fa-share-alt"></i></div>
										<div class="social-buttons">
											<ul>
												<li><a href="https://www.facebook.com/themetorium" class="magnetic-item" target="_blank" rel="noopener">Fb.</a></li>
												<li><a href="https://twitter.com/Themetorium" class="magnetic-item" target="_blank" rel="noopener">Tw.</a></li>
											</ul>
										</div> <!-- /.social-buttons -->
									</div> <!-- /.footer-social -->

								</div> <!-- /.footer-col-inner -->
							</div>
							<!-- Begin footer column -->

						</div> <!-- /.tt-section-inner -->
					</footer>
					<!-- End tt-footer -->


				</div>
				<!-- End content wrap -->

			</div>
			<!-- End scroll container -->


		</main>
		<!-- End body inner -->


        

		<!-- ====================
		///// Scripts below /////
		===================== -->

		<!-- Core JS -->
		<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script> <!-- jquery JS (https://jquery.com) -->

		<!-- Libs and Plugins JS -->
		<script src="{% static 'vendor/gsap/gsap.min.js' %}"></script> <!-- GSAP JS (https://greensock.com/gsap/) -->
		<script src="{% static 'vendor/gsap/ScrollToPlugin.min.js' %}"></script> <!-- GSAP ScrollToPlugin JS (https://greensock.com/scrolltoplugin/) -->
		<script src="{% static 'vendor/gsap/ScrollTrigger.min.js' %}"></script> <!-- GSAP ScrollTrigger JS (https://greensock.com/scrolltrigger/) -->

		<script src="{% static 'vendor/smooth-scrollbar.js' %}"></script> <!-- Smooth Scrollbar JS (https://github.com/idiotWu/smooth-scrollbar/) -->
		<script src="{% static 'vendor/swiper/js/swiper-bundle.min.js' %}"></script> <!-- Swiper JS (https://swiperjs.com/) -->
		<script src="{% static 'vendor/isotope/imagesloaded.pkgd.min.js' %}"></script> <!-- imagesloaded JS (more info: https://imagesloaded.desandro.com/) -->
		<script src="{% static 'vendor/isotope/isotope.pkgd.min.js' %}"></script> <!-- Isotope JS (http://isotope.metafizzy.co) -->
		<script src="{% static 'vendor/isotope/packery-mode.pkgd.min.js' %}"></script> <!-- Isotope Packery Mode JS (https://isotope.metafizzy.co/layout-modes/packery.html) -->
		<script src="{% static 'vendor/lightgallery/js/lightgallery-all.min.js' %}"></script> <!-- lightGallery Plugins JS (http://sachinchoolur.github.io/lightGallery) -->
		<script src="{% static 'vendor/jquery.mousewheel.min.js' %}"></script> <!-- A jQuery plugin that adds cross browser mouse wheel support (https://github.com/jquery/jquery-mousewheel) -->

		<!-- Theme master JS -->
		<script src="{% static 'js/theme.js' %}"></script>



	</body>

</html>